
<ion-content class="ion-padding ion-text-center">
  <img src="../../../assets/logos/logo1.jpg" class="logo" alt="logo"/>

  <div class="title">
    <h2>Welcome Motor Verify</h2>
    <p>Know more about your drive</p>
  </div>

  <div class="ion-margin-top">
    <ion-button expand="block" (click)="signin()" class="ion-margin-top" fill="outline" color="primary"><ion-icon name="log-in-outline"></ion-icon> SIGN IN</ion-button>
    <ion-button expand="block" class="ion-margin-top" color="danger"><ion-icon name="logo-google"></ion-icon> Continue with goole</ion-button>
  </div>
</ion-content>
