<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
         
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Shopping Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cartscreen">
    <div class="cartscreen__left">
      <h2>Shopping Cart</h2>

      <!-- {cartItems.length === 0 ? (
        <div>
          Your Cart Is Empty <Link to="/">Go Back</Link>
        </div>
      ) : ( -->

      <div class="cartitem" *ngFor="let cart of carts">
        <div class="cartitem__image">
          <img src={{cart.imageUrl}} alt="" />
        </div>
        <a href="" class="cartItem__name">
          <p>{{cart.name}}</p>
        </a>
        <p class="cartitem__price">${{cart.price}}</p>
        <select
          class="cartItem__select"
        >
          
        </select>
        <button
          class="cartItem__deleteBtn"
        >
        <ion-icon name="trash-outline"></ion-icon>
        </button>
      </div>
       
    </div>

    <div class="cartscreen__right">
      <div class="cartscreen__info">
        <p>Subtotal 5 items</p>
        <p>$4,500</p>
      </div>
      <div>
        <button>Proceed To Checkout</button>
      </div>
    </div>
  </div>
</ion-content>
